<div class="spellBarContainer">
  <div class="spellIcon">
    <img src="../../../../../assets/images/farm.png" class="spellImage" />
    <span class="spellCost">10</span><span class="spellKey">E</span>
    <div class="spellDescription">Voici la description du sort</div>
  </div>

  <div class="spellIcon">
    <img src="../../../../../assets/images/barrack.png" class="spellImage" />
    <span class="spellCost">25</span><span class="spellKey">R</span>
    <div class="spellDescription">Voici la description du sort 2</div>
  </div>
</div>
