.player {
  width: 37px;
  height: 55px;
  background-image: url("../../../../../assets/sprites/sprite1.png");
  background-repeat: no-repeat;
  transition: transform 0.2s linear;
}

.username {
  position: relative;
  top: -68px;
  color: brown;
  max-width: 100px;
}

.playerObject {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
}
