<div class="mainMenu">
  <div class="buttons">
    <button (click)="showPartyCreation = !showPartyCreation">
      <h1>Créer une partie</h1>
    </button>
    <div *ngIf="showPartyCreation">
      <!-- <label for="partyName">Nom de la partie</label>
      <input id="partyName" />
      <label for="nbPlayersInParty">Nombre de joueur</label>
      <input id="nbPlayersInParty" /> -->
      <button (click)="goToPage('game')">Créer</button>
    </div>
    <button (click)="showEnterCode = !showEnterCode">
      <h1>Rejoindre une partie</h1>
    </button>
    <div *ngIf="showEnterCode">
      <label for="partyCode">Code: </label>
      <input id="partyCode" type="text" (ngModel)="(enteredCode)" />
    </div>
  </div>
  <div class="skinSelector">Personnaliser son skin</div>
</div>

<div class="profileMenu">
  <span class="userName">{{ userName }}</span>
  <button class="settingsButton" (click)="goToPage('settings')">
    Settings
  </button>
</div>
