<div class="mainMenu">
  <div class="buttons">
    <button (click)="showPartyCreation = !showPartyCreation">
      <h1>Créer une partie</h1>
    </button>
    <div *ngIf="showPartyCreation">
      <label>Nom de la partie</label>
      <input />
      <label>Nombre de joueur</label>
      <input />
      <button (click)="goToPage('game')">Créer</button>
    </div>
    <button (click)="showEnterCode = !showEnterCode">
      <h1>Rejoindre une partie</h1>
    </button>
    <div *ngIf="showEnterCode">
      <label>Code: </label>
      <input type="text" (ngModel)="(enteredCode)" />
    </div>
  </div>
  <div class="skinSelector">Personnaliser son skin</div>
</div>

<div class="profileMenu">
  <span class="userName">PseudoDuJoueur</span>
  <button class="settingsButton" (click)="goToPage('settings')">
    Settings
  </button>
</div>
