<div class="inventoryContainer" *ngFor="let item of bag.items">
  <div class="itemIcon">
    <img src="../../../../../assets/images/farm.png" class="itemImage" />
    <span class="itemCost">10</span><span class="itemKey">E</span>
    <div class="itemDescription">{{ item.description }}</div>
  </div>
</div>

<!--<div class="itemIcon">
    <img src="../../../../../assets/images/barrack.png" class="itemImage" />
    <span class="itemCost">25</span><span class="itemKey">R</span>
    <div class="itemDescription">Voici la description du sort 2</div>
  </div> //TODO SI JE DOIS AJOUTER DES SPELLS A NOUVEAU-->
