<div class="inventoryContainer">
  <div
    class="itemIcon"
    (click)="selectItem(invItem)"
    *ngFor="let invItem of intentoryItems"
  >
    <img
      src="../../../../../assets/images/{{ invItem.name }}.png"
      class="itemImage"
    />
    <span class="itemCost">{{ invItem.durability }}</span
    ><span class="itemKey">E</span>
    <div class="itemDescription">{{ invItem.description }}</div>
  </div>
</div>

<div class="bagContainer" *ngIf="isShowed">
  <span class="bag-name"
    ><u>{{ bag.name }}</u></span
  >

  <div class="slots">
    <div class="item-list" *ngFor="let item of bag.items">
      <div class="item" (click)="selectItem(item)">
        <img
          class="inventoryImage"
          src="../../../../../assets/images/{{ item.name }}.png"
        />
      </div>
      <div class="menuItem" hidden id="menuItem-{{ item.id }}">
        <button *ngIf="!item.isInInventory" (click)="toInventory(true)">
          Ajouter à l'inventaire
        </button>
        <button *ngIf="item.isInInventory" (click)="toInventory(false)">
          Supprimer de l'inventaire
        </button>
      </div>
    </div>
    <div class="item-list" *ngFor="let index of emptySlots">
      <div class="item"></div>
    </div>
  </div>
</div>

<!--<div class="itemIcon">
    <img src="../../../../../assets/images/barrack.png" class="itemImage" />
    <span class="itemCost">25</span><span class="itemKey">R</span>
    <div class="itemDescription">Voici la description du sort 2</div>
  </div> //TODO SI JE DOIS AJOUTER DES SPELLS A NOUVEAU-->
