.interactionElement {
  position: relative;
  color: white;
}

.down {
  top: -54px;
  left: 83px;
}

.up {
  top: -54px;
  left: -43px;
}

.left {
  top: -114px;
  left: 22px;
}

.right {
  top: 15px;
  left: 22px;
}
