<canvas #gameCanvas (click)="onCanvasClick($event)"></canvas>

<div
  *ngIf="actionMenu.visible"
  [style.top.px]="actionMenu.y"
  [style.left.px]="actionMenu.x"
  class="actionMenu"
>
  <div *ngIf="!isBuilded()" class="buildingList">
    Construire : @for (building of buildingKeys(); track buildingKeys()) {
    <button
      *ngIf="canBuildHere(building)"
      (click)="buildOnTile(building)"
      [disabled]="canSpend(building) == false"
    >
      {{ buildingValue(building).name }} :
      {{ buildingValue(building).rockCost }} roche
      {{ buildingValue(building).woodCost }} bois
      {{ buildingValue(building).goldCost }} or
    </button>
    }
  </div>
  <div *ngIf="isBuilded() && activeTile && activeTile.building">
    {{ Buildings[activeTile.building.type].name }} :
    <button (click)="removeTile()">
      Detruire : +
      {{ Buildings[activeTile.building.type].soldGoldValue }}
    </button>
  </div>
  <button class="close" (click)="closeMenu()">X</button>
</div>
