.map {
  display: grid;
  grid-template-columns: repeat(40, 64px);
  grid-template-rows: repeat(40, 64px);
}

.tile {
  width: 64px;
  height: 64px;
  background-color: lightgreen;
}

.tile.grass {
  //background-image: url("/assets/images/grass.png");
}
.tile.water {
  background-color: blue;
}
.tile.forest {
  background-image: url("/assets/images/spruce.png");
}
.tile.montain {
  background-image: url("/assets/images/rock.png");
}
