.player {
  width: 37px;
  height: 55px;
  background-image: url("../../assets/sprites/sprite1.png");
  background-repeat: no-repeat;
  transition: transform 0.2s linear;
}

.walking {
  animation: walk 0.8s steps(4) infinite;
}

@keyframes walk {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: -128px 0px;
  }
}
